@model Variant


<h2>Update Variant</h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <input asp-for="ProductId" value="@Model.ProductId">
    </div>
    
    <div class="mb-3">
        <input asp-for="VariantId" value="@Model.VariantId">
    </div>

    <div id="variantContainer">
        <div class="variant-form">
            <h4>Variant</h4>
            <div class="form-group">
                <label asp-for="Price">Price:</label>
                <input asp-for="Price" class="form-control" />
                <label asp-for="DiscountedPrice">Discounted Price:</label>
                <input asp-for="DiscountedPrice" class="form-control" />
                <label asp-for="Stock">Stock:</label>
                <input asp-for="Stock" class="form-control" />

                <div class="option-group">
                    @foreach (var option in ViewBag.Options)
                    {
                        <label>@option.OptionName:</label>
                        <select name="SelectedValues" class="form-control">
                            <option value="">Select...</option>
                            @foreach (var value in option.Values)
                            {
                                <option value="@value.ValueId">@value.ValueText</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Update</button>
</form>

