@model IEnumerable<Variant>
@inject SignInManager<AppUser> SignInManager
@inject eCommerce.Services.WishlistService WishlistService
@inject eCommerce.Services.CartService CartService

<div class="container mt-5">
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="@Url.Action("Product", "Home", new { productId = item.ProductId })">
                        <img src="/@item.Pictures[0].Path" class="card-img-top" alt="@item.Product.ProductName">
                        <div class="card-body">
                            <h5 class="card-title">@item.Product.ProductName</h5>
                            <p class="card-text">
                                @if (item.DiscountedPrice != null)
                                {
                                    <del>@item.Price TL</del> <span class="text-danger">@item.DiscountedPrice TL</span>
                                }
                                else
                                {
                                    <span>@item.Price TL</span>
                                }
                            </p>
                        </div>
                    </a>
                    <div class="card-body">
                        @if (SignInManager.IsSignedIn(User)){
                            <button class="btn btn-outline-danger btn-sm float-start" onclick="toggleWishlist(@item.VariantId)">
                                <i id="wishlistIcon_@item.VariantId" class="heart-icon @if (WishlistService.IsInWishlist(item.VariantId)) { <text>fas text-danger</text> } else { <text>far text-danger</text> } fa-heart"></i>
                                Add to Wishlist
                            </button>



                            <button class="btn btn-outline-danger btn-sm float-start" onclick="toggleCart(@item.VariantId)">
                                <i id="cartIcon_@item.VariantId" class="heart-icon @if (CartService.IsInCart(item.VariantId)) { <text>fas text-danger</text> } else { <text>far text-danger</text> } fa-heart"></i>
                                Add to Cart
                            </button>
                        }

                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts {
    <script>
        async function toggleWishlist(variantId) {
            // Update the URL without the area name
            await fetch('User/Wishlist/ToggleWishlist?variantId=' + variantId, { method: 'POST' });

            // After toggling, update the heart icon and the count in the navbar
            updateWishlistIcon(variantId);
            updateWishlistCount();
        }

        function updateWishlistIcon(variantId) {
            const icon = document.getElementById(`wishlistIcon_${variantId}`);
            icon.classList.toggle('far'); // Toggle unfilled heart
            icon.classList.toggle('fas'); // Toggle filled heart
        }

        function updateWishlistCount() {
            fetch('User/Wishlist/GetWishlistItemCount')
                .then(response => response.json())
                .then(count => {
                    document.getElementById('wishlistCount').innerText = count;
                });
        }

        



        async function toggleCart(variantId) {
            // Update the URL without the area name
            await fetch('Cart/ToggleCart?variantId=' + variantId, { method: 'POST' });

            // After toggling, update the heart icon and the count in the navbar
            updateCartIcon(variantId);
            updateCartCount();
        }

        function updateCartIcon(variantId) {
            const icon = document.getElementById(`cartIcon_${variantId}`);
            icon.classList.toggle('far'); // Toggle unfilled heart
            icon.classList.toggle('fas'); // Toggle filled heart
        }

        function updateCartCount() {
            fetch('Cart/GetCartItemCount')
                .then(response => response.json())
                .then(count => {
                    document.getElementById('cartCount').innerText = count;
                });
        }








        // Update the count when the page loads
        updateWishlistCount();



        updateCartCount();
    </script>
}